
@model InventoryManagement_2.ViewModels.CategoryAddVm
<div class="row">
 <div class="cols-4">
<form method="post" class="card">
    <div class="card header">
        <h1>Add New Category</h1>
    </div>
            
             <div class="form-group">
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
            </div>

    <div class="card footer">
       <button type="submit" class="btn btn-success">Save</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-primary">Back</a> 
    </div>
            

       
</form>
 </div>
  </div>
