<div>
    <table class="table table-stripped">
        <thead>
            <th>Id</th>
            <th>PurchaseId</th>
            <th>Date</th>
            <th>Supplier</th>
            <th>TotalAmount</th>
            <th>Details</th>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>23</td>
                <td>01-02-2023</td>
                <td>Ram </td>
                <td></td>
            </tr>
             <tr>
                <td>01</td>
                <td>23</td>
                <td>01-02-2023</td>
                <td>Ram </td>
                <td></td>
            </tr>
             <tr>
                <td>01</td>
                <td>23</td>
                <td>01-02-2023</td>
                <td>Ram </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>