
@model InventoryManagement_2.ViewModels.ProductEditVm
<form method="post">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h2>Product Edit</h2>
                </div>
                <div class="card-body">

                    <div class="mb-3">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" type="text" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="mb-3 ">
                        <label asp-for="CategoryId"></label>
                        <select asp-for="CategoryId" class="form-control" asp-items="@Model.CategoryOptionSelectList()">
                            <option value="">-- SELECT A CATEGORY --</option>
                        </select>
                         <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>

                    <div class="mb-3 ">
                        <label asp-for="UnitId"></label>
                        <select asp-for="UnitId" class="form-control" asp-items="@Model.UnitsOptionsSelectList()">
                            <option value="">--SELECT A UNIT</option>
                        </select>
                        <span asp-validation-for="UnitId" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" type="text" class="form-control">
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                    <div class="card-footer">
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Save</button>
                            <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
