@model InventoryManagement_2.ViewModels.SupplierDisplayVm
@{
    ViewData["Title"] = "list of Suppliers";
}

<form method="get" class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-3">
            <input type="Text" id="searchid" name="search" class="form-control" />
            </div>
            <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-primary">Search</button>
            
            <a asp-controller="Supplier" asp-action="Add" class="btn btn-success">New Supplier</a>
            </div>
        </div>
    </div>
  
</form>

<div class="card mt-4">
    <div class="card-body">
        <div class="row">

            <table class="table table-striped table-bordered table-hover">
                <thead class="">
                    <tr>
                        <th>SN</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>@{
                        int SN = 1;
                        foreach (var X in Model.data)
                        {
                            <tr>
                                <td>@(SN++)</td>
                                <td>@X.Name</td>
                                <td>@X.Address</td>
                                
                                <td>
                                    <a asp-controller="Product" asp-route-id="@X.Id" asp-action="Edit"
                                        class="btn btn-primary">Edit</a>
                                    
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>


</div>
